.crud-table{
    background-color: rgba(255, 255, 255, 0.822);
    width:100%;
    border-radius: 10px;
  
    margin: 40px;
}
  
.crud-table tr{
    padding-bottom : 10px;
}
  
.crud-add-button{
    border: none;
    float:right;
    margin-top: 5px;
    margin-right: 80px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--color2);
    background-color: rgba(162, 179, 255, 0.527);
    border-radius: 5px;
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

@media only screen and (max-width: 720px) {
    .crud-add-button {
      margin-right: 20px;
    }
  }

#crud-table-title{
    border-bottom: 2px solid rgba(0, 0, 0, 0.219);
}

  
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    margin-bottom: 10px;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
.styled-table thead tr {
    background-color: var(--color2);
    color: #ffffff;
    text-align: left;
}
  
.styled-table th,
.styled-table td {
      padding: 12px 15px;
}
  
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
  
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
  
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--color1);
}
  
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: var(--color1);
}


.crud-button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  

  .crud-logo{
      width: 60px;
      height: 40px;
      max-width: 60px;
      max-height: 60px;
      border-radius: 10px;
  }