@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&display=swap');

/*************************************/
:root{
    --hover:#d61e1e;
    --maincolor: #c6dde4;
    --navColor:rgba(0, 0, 0, 0.849);
    --colorWord:rgb(255, 255, 255);
    --hoverColor:rgb(61, 166, 207);
}

nav{
    background-color: var(--navColor);
    padding: 0px 35px;
    /* box-shadow: 8px 8px 10px #DDD;*/
    z-index: 1000;
    right:0;
    top:0;
    position:fixed;
    width: 100%;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}
nav ul li{
    padding: 7px 0;
    padding-bottom: 4px;
    cursor: pointer;
}
nav ul li.items{
    width:auto;
    margin:0 16px;
    text-align:center;
    position:relative;
    order:3;
}

nav ul li.items:after{
    content: '';
    position:absolute;
    left:0;
    bottom: 9px;
    height: 2px;
    width: 100%;
    background-color: var(--hoverColor);
    opacity: 0;
    transition:all 0.2s linear ;
}
/*
nav ul li.items:hover:after{
    opacity: 1;
    bottom:8px;
}
*/
nav ul li.logo{
    flex:1;
    color:var(--colorWord);
    font-size:23px;
    font-weight: 600;
    cursor: default;
    user-select:none;
    font-family: 'Dongle', sans-serif;
    font-size:30px;
    letter-spacing: 2px;
}

#logo{
    flex:1;
    color:var(--colorWord);
    font-size:23px;
    font-weight: 600;
    cursor: default;
    user-select:none;
    font-family: 'Dongle', sans-serif;
    font-size:30px;
    letter-spacing: 2px;
}

nav ul li a{
    color:var(--colorWord);
    text-decoration:none;
    font-size: 18px;
    transition: 0.4s;
    font-family: 'Dongle', sans-serif;
    font-size:25px;
    letter-spacing: 1.2px;
    font-weight: bold;

}
nav ul li:hover a{
    color:var(--hoverButton);
    cursor: pointer;

}

nav ul li i{
    font-size:23px;
}
nav ul .btn{
    display: none;
}
nav ul li.btn a span{
    padding: 2px;
    border-top: 2px solid #000;
}

nav ul .btn{
    width: 56px;
    position: absolute;
    right: 80px;
    top: 20px;
}
nav ul .btn span{
    display: inline-block;
    width:100%;
    height:3px;
    background-color: #000;
    float: left;
    margin-bottom: 8px;
}
nav ul .btn:hover span{
    background-color: var(--hoverColor);
}

@media all and (max-width:900px){
    nav{
        padding: 5px 30px;
    }
    nav ul li.items{
        width:100%;
        display: none;
    }
    nav ul .btn{
        display: block;
    }
    nav ul li.items.show{  /*******/
        display: block;
    }
    nav ul li.items:hover{
        box-shadow:inset 0 0 5px #33ffff,
        inset 0 0 10px #66ffff;
        border-radius: 8px;
    }
    nav ul li.items:hover:after{
        opacity: 0;
    }
}